.navigation {
  @include column(1.8rem);
  @extend %lr-padding-default;
  @extend %tb-padding-default;
  max-width: 32rem;
  text-transform: capitalize;
  @include font(1.8rem, 1.8rem, 600);
}

.navigation__link {
  display: block;
  font-weight: 700;
}

.navigation__lists {
  $lists-gap: 1.8rem;
  position: relative;
  @include column($lists-gap);

  &::before {
    content: attr(aria-label);
    font-weight: 700;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.2rem;
    height: calc(100% - #{$lists-gap} - 1.2rem);
    background-color: rgba(28, 29, 34, 0.1);
  }
}

.navigation__sublink {
  position: relative;
  padding-left: 2.8rem;
  color: rgba(28, 29, 34, 0.5);
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0.2rem;
    width: 1.6rem;
    background-color: rgba(28, 29, 34, 0.1);
  }
}