.navigation {
  @include column();
  @extend %lr-padding-default;
  @extend %tb-padding-default;
  max-width: 32rem;
  text-transform: capitalize;
  @include font(2rem, 2rem, 600);
  color: $color-text-dark;
}

.navigation>* {
  padding: 1rem 1.8rem;
}

.navigation__link {
  border-radius: 1.8rem;
  display: block;
  font-weight: 700;

  &:hover {
    background-color: $color-light-shadow;
  }
}

.navigation__lists {
  $lists-gap: 2rem;
  position: relative;
  @include column($lists-gap);

  &::before {
    content: attr(aria-label);
    font-weight: 700;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.2rem;
    height: calc(100% - #{$lists-gap} - 2.4rem);
    background-color: $color-grey-10;
  }
}


.navigation__button {
  background-color: transparent;
  border: none;
}

.navigation__sublink {
  position: relative;
  padding-left: 2.8rem;
  color: $color-grey-50;
  text-decoration: none;
  @include transition(0.2s);

  &::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0.2rem;
    width: 1.6rem;
    background-color: $color-grey-10;
    transition: inherit;
  }

  &:hover {
    color: $color-text-dark;

    &::before {
      background-color: $color-primary;
    }
  }
}