.title {
  @include font(3.4rem, 3.4rem, 700);
  text-transform: capitalize;
}

.list-container {
  margin: 0 auto;
  @extend %tb-padding-default;
  @extend %lr-padding-default;
  flex: 1;
  max-width: 100rem;
  color: $color-text-dark;
}

.todo-list {
  margin-top: 3.2rem;
  @include column(0.8rem);
}

.todo {
  padding: 0.8rem;
  display: flex;
  gap: 0.8rem;
  text-transform: capitalize;
  border-bottom: 0.1rem solid $color-grey-10;
  @include transition(0.6s);

  &:hover {
    cursor: pointer;
  }
}

.todo__check-button {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.2rem solid $color-primary;
  border-radius: 50%;

  // align :before to the center
  display: grid;
  place-content: center;

  &::before,
  &::after {
    content: "";
    width: 0.8rem;
    height: 0.2rem;
    transform: scale(0);
    @include transition(0.2s);
    background-color: $color-primary;
  }

  &::after {
    width: 0.6rem;
  }

  &:checked::before,
  &:hover::before {
    transform: scale(1) translate(0.2rem, 0.1rem) rotate(-50deg);
  }

  &:checked::after,
  &:hover::after {
    transform: scale(1) translate(-0.08rem, 0.04rem) rotate(45deg);
  }

  &:hover {
    cursor: inherit;
  }
}

.todo:has(.todo__check-button:checked) {
  order: 1;
}

.todo:has(.todo__check-button:checked) .todo__text {
  text-decoration: line-through;
}

.todo__text {
  @include font(1.8rem, 1.8rem, 600);
}

.todo__content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.todo__state {
  @include font(1.4rem, 1.4rem, 400);
}

.todo__due-date {
  font-weight: 600;
  color: $color-due-date;
}