$color-primary: #333;
$color-additional: #eee;
$color-text-dark: #1C1D22;

$color-dark-shadow: rgba(255, 255, 255, 0.04);


$color-check-button: red;
$color-due-date: #888DA7;

$color-white: #fff;

$color-grey-10: rgba(28, 29, 34, 0.1);
$color-grey-50: rgba(28, 29, 34, 0.5);