@mixin font($size, $height: $size, $weight: 600, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}