@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'Exo 2', sans-serif;
  @include font(1.6rem);
  @include column();
}

main {
  display: flex;
  flex: 1;
}